.view-assets .view-content {
    display: grid;
    grid-template-columns: 4fr 3fr;
}
.view-assets .view-content .location:first-child {
    grid-row: 1 / span 1000;
    margin-right: 3rem;
}
.sortable-assets {
    min-height: 100px;
    border: 1px dashed transparent;
    padding: 15px;
    transition: 150ms;
}
.dragging .sortable-assets {
    border: 1px dashed;
}
.sortable-assets .sortable-asset {
	display: inline-block;
	text-align: center;
	border-radius: 25px;
	padding: 10px 20px;
}
.sortable-assets .sortable-asset:hover {
	cursor: grab;
	background: rgba(0,0,0,0.3);
}
.sortable-assets .sortable-asset:active, .sortable-ghost, .sortable-chosen {
	cursor: grabbing;
}
.sortable-assets .sortable-asset .icon {
    fill: #ccc;
}
.sortable-assets .sortable-asset .views-field-title {
	font-weight: 600;
    max-width: 125px;
}
.sortable-assets .sortable-asset .asset-uuid {
	display: none;
}
.sortable-assets .sortable-asset .views-field-changed {
	font-size: 0.6em;
}